.home {
  .logo {
    h1 {
      font-size: 5em;
    }
    span {
      font-size: 0.5em;
    }
  }
  .error {
    color: red;
  }

  .btn:active, .btn:focus {
    background-color: red;
  }

  .loading {
    width: 70px;
  }
}
