$dark: #505050;
$grey: #aaaaaa;

.pagination {
  justify-content: center;
  .page-link {
    color: $dark;
  }
  .page-item.active .page-link {
    background-color: black;
    border-color: black;
    color: white;
  }
  .page-item.active.disabled .page-link {
    color: white;
  }

  .page-item.disabled .page-link {
    color: $grey;
  }
}
